@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hot Pizza!</h1>
    <p>Where you can rate and buy all the tasty pizzas around town!</p>
</div>
