@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We do not take any private information from the user, so don't worry if you're asked to put in your SSN number. It's completely safe! ;)</p>
